@layer base {
  .a4-sheet {
    background: white;
    width: 210mm;
    min-height: 297mm; /* Use min-height to allow content to expand */
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    border: 1px solid #ccc; /* Adding a light border to distinguish the page */
  }

  @page {
  size: A4;
  margin: 0.5cm; /* Adjust as needed */
}

@media print {
    body {
      margin: 0;
      box-shadow: none;
    }
    .a4-sheet {
      margin: 0;
      box-shadow: none;
      width: auto;
      min-height: 0;
    }
  }

  /* For screens smaller than A4 width */
  @media screen and (max-width: 210mm) {
    .a4-sheet {
      width: 100%;
      min-height: 0;
    }
  }
}
